nav {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    width: 100vw;
}

nav ul {
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    nav {
        padding-left: 18px;
        padding-right: 18px;
    }
}
